*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2{
    font-family: young serif;
}
h3, p,li{
    font-family: outfit;
}
p{
    font-size: 16px;
}
h2{
    color: hsl(14, 45%, 36%);
}
h3{
    color: hsl(332, 51%, 32%);
}
li{
    padding-left: 20px;
}


body{
    background: hsl(30, 54%, 90%);
    max-width: 1440px;
    max-height:100%;
    
    
    
    
    
}
main{
    
    width: 700px;
    height:100%;
    background-color: white;
    padding: 30px;
    margin: 100px auto;
    border-radius: 20px;


    
    
}
header img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}
header h1{
    margin-bottom: 20px;
}
header p{
    margin-bottom: 20px;
    font-weight:400;
}
.prep{
    padding-left: 30px;
    background: hsl(330, 100%, 98%);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 10px
}

.taste ul{
    padding-left: 20px;
    margin-top: 20px;
    border-bottom: 2px solid hsl(30, 18%, 87%);
    margin-bottom: 20px;
}
.taste li{
    margin-bottom: 20px;
}
p,li{color: hsl(30, 10%, 34%)}

.instruct{
    margin-bottom: 20px;
}
.instruct h2{
    margin-bottom: 20px;
}
.instruct ol{
    padding-left: 20px; 
    border-bottom: 2px solid hsl(30, 18%, 87%)
}
.instruct li{
    margin-bottom: 20px;
}
.taste ul ::marker, .instruct ol ::marker{
 color: hsl(14, 45%, 36%);
 font-weight: bold;
}
.nut h2{
    margin-bottom: 20px;
}
div.grid{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
div.grid p{
    padding: 10px;
    border-bottom: 2px solid hsl(30, 18%, 87%)
}
div.grams p{
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}
strong{
    color: hsl(24, 5%, 18%);
}
@media screen and (max-width:850px){
    main{
        width: 500px;
    }
}
@media screen and (max-width:600px){
    main{
        width: 400px;
    }
}
@media screen and (max-width:430px){
    main{
        width: 375px;
    }
}
@media screen and (max-width:375px){
    main{
        width: 375px;
        margin: 0;
        border-radius: 0px;
    }
}




